
body {
    background-color: white;

}

html {
    background-color: white;
}

.nav{
    background-color: white;
}
.buscador{
    background-color: white;
}

.input-search{
    background-color: white;
}

.search-box-responsive{
    display: none;
}

main{
    display: flex;
    background-color: white;
    padding-top: 200px;
    flex-direction: column;
    width: 100%;
}

#products {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 18rem;
    margin: 0 10px;
    margin-bottom: 200px;
    background-color: transparent !important;
    border-color: transparent !important;
    max-height: 200px!important;
    border-radius: 0px !important;  
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';
    height: 100px;
}

.name{
    font-family: 'Open Sans' !important;
    color: black;
}

.price{
    font-family: 'Open Sans' !important;
    color: black;
    
}

a{
text-decoration: none !important;
}

select{
    background-color: transparent !important;
    width: 200px;
    height: 50px;
    border-color: black;
    border-width:2px;
    text-align: center;
    font-family: 'Open Sans' !important;  
    margin-left: 100px !important;
  
}

.filters{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 16px;
    padding-bottom: 50px;
    transition: all 500ms ease;  
}


@media (max-width: 450px) {

    .buscador{
        display: none;
    }

    .input-search{
        display: none;
    }

    .search-box-responsive{
        display: block;
        background-color: transparent;
        padding-top: 0px;
    }

    .input-responsive{ 
    height: 50px !important;
    width: 270px !important;
    margin-bottom: 50px !important;
    border-style: solid !important;
    border-width: 1.5px !important;
    border-right: none !important;
    border-top: none !important;
    border-left: none !important;
    border-color: black !important;
    padding: 10px !important;
    font-size: 18px !important;
    font-family: 'Open Sans';
    outline: none;
    transition: all .5s ease-in-out;
    background-color: transparent;
    color: black;
    }
    

    select{
        background-color: transparent !important;
        width: 100px;
        height: 30px;
        border-color: transparent;
        border-width:1px;
        text-align: center;
        font-family: 'Open Sans' !important; 
        margin-left: 16px !important;
      
    }

    main{
    padding-top: 150px;
    }


    .card {
        width: 10rem;
        margin: 0 10px;
        margin-bottom: 20px;
         
    }


    .card-body {
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
         
    }

    .name{
        font-size: 14px !important;
    }

    .price{
        font-size: 14px !important;
    }

    

}




